

<head>
    <title>Login</title>
    <link rel="stylesheet" href="./signup_style.css">

</head>
<body>
    <!-- <div class="content_box">
        <div class="img_box">
            <img src="./signin-image.jpg" alt="#">
        </div>

        <div class="signup_box">
            <form action="{% url 'savedata' %}" method="post">
                {% csrf_token %}
                <h1>SIGN UP</h1>
                <hr>
                <div>
                    <input type="text" name="Name" required placeholder="Enter Name">
                </div>
                <div>
                    <input type="email" name="email" required placeholder="Enter Email">
                </div>
                <div>
                    <input type="text" name="number" required placeholder="Enter Phone no.">
                </div>
                <div>
                    <input type="text" name="city" required placeholder="Enter City">
                </div>

                <div>
                    <input type="password" name="password" required placeholder="Enter password">
                </div>

                <div class="signup_submit">
                    <input type="submit" value="SIGN-UP">
                </div>


            </form>
            <p style="color: red;">{{msg}}</p>
 
        </div>
    </div> -->
